p {
  background-color:red;
  font-size:20px;
}
h2 {
  color:green;
  font-size:22px;
}
.qwerty {
  color:blue;
  font-size:18px;
}
#country {
  color:yellow;
  font-size:24px;
}
div h1 {
  color:darkblue;
}
l1 + li {
  color:purple;
}
p > img {
  color:white;
  background-color:black;
}
h4:hover {
  color:green;
  font-weight:bold;
}
h4:before {
  content: "Hey, ";
  color:red;
}
h4:after {
  content: ", bye!"
  color:blue;
}
h4:selection {
  color:purple;
  background-color: yellow;
}
